<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngClass]="'roomsAmount'"
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
  >
    {{ numberOfRooms }}
  </div>
</div>
<div *ngIf="rooms.availableRooms > 0"></div>

{{ rooms ? "Rooms" : "No Rooms" }}

<div>Rooms List</div>

<button (click)="toggle()">Toggle</button>

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div *ngIf="rooms.availableRooms > 0">
  <hinv-rooms-list
    [rooms]="roomList"
    (selectedRoom)="selectRoom($event)"
  ></hinv-rooms-list>
</div>
